<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" type="font" href="{{ url_for('static',filename='static/fonts/font-awesome.min.css') }}">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#">Flash assist</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item nav-link"><a class="nav-link active" href="#about">About</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#invite">Invite</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="#contact">contact</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="https://flash-assist.squidsquidsquid.repl.co/privacy-policy">Privacy Policy</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="https://flash-assist.squidsquidsquid.repl.co/terms">Terms of Service</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url({{ url_for('static',filename='images/introbg.png') }});">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Flash assist</h1>
                        <p class="intro-text">A free, responsive, user-centered Discord bot to cater all your needs</p><a class="btn btn-link btn-circle" role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center content-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About Flash assist</h2>
                    <p>Flash Assist is a Discord bot that reminds you to use commands when the command's cooldown has elapsed or ended.</p>
                    <p>This service covers a couple bots, but the coverage for more bots is coming soon!</p>
                    <p>Flash Assist includes custom reminders along with friendly UI for easy customization!</p>
                </div>
            </div>
        </div>
    </section><section id="invite" class="text-center invite-section content-section" style="background-image:url({{ url_for('static',filename='images/bg.png') }});">
    <div class="container">
        <div class="col-lg-8 mx-auto">
            <h1>invite flash assist</h1>
            <p>You can invite Flash Assist for free right here!</p><button class="btn btn-primary btn-lg btn-default" type="button"><a href="https://discord.com/oauth2/authorize?client_id=836581672811495465&permissions=321536&scope=bot%20applications.commands">Invite!</a></button>
        </div>
    </div>
</section>
    <section class="text-center content-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact us</h2>
                    <p>Feel free to join our Discord server for feedback or questions in general!</p><button class="btn btn-primary btn-lg btn-default" type="button"><span class="network-name">&nbsp;DIScord</span></button>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">&nbsp;</li>
                        <li class="list-inline-item">&nbsp;</li>
                        <li class="list-inline-item">&nbsp;</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="map-clean"></div>
    <footer>
        <div class="container text-center">
            <p>Copyright © Flash Assist 2022</p>
        </div>
    </footer>
    <script src="{{ url_for('static',filename='js/min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/grayscale.js') }}"></script>
</body>
</html>